body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu-bar {
    background-color: #333;
    overflow: hidden;
}

.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.menu-bar li {
    float: inline-start;
    
}

.menu-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.menu-bar li a:hover {
    background-color: #1136f0;
}

.container {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: aqua;
    color: aliceblue;
    padding-left: 50px;

}
.container_2{
    width: 100vh;
    padding: 15px;
}
.resized_image_2{
    width: 1220px;
    height: 400px;
}
.container_3{
    display: flex;
}
.text_container_3{
    padding-left: 100px;
    width: 100vh;
}
.text_container_3 h{
    background-color: blue;
    color: chartreuse;
}
.container_4_{
    padding: 10px;
}
.text_container_4{
    padding-left: 50px;

}
.container_1{
    display: flex;
}
.container_5{
    display: flex;
    padding: 10px;
    background-color: #1136f0;
}
.text_container_5{
    padding-top: 40px;
}s
@media screen and (max-width: 600px) {
    .menu-bar ul {
        display: none;
        margin: 0%;
    }
}
.container_x{
    display: flex;
    padding: 40px;
    margin: 3%;
}
.text_container_x{
    padding: 15px;
    margin: 2%;
}
.text_container_x h{
    padding-left: 150px;
}
.container_1{
    background-color: chocolate;
    padding: 50px;
}
.container_1 ul h{
    padding-left: 40px;
}
.text_container9{
display: flex;
text-align: left;
margin-right: 0%;
padding-left: 50%; 

}